@import url("https://fonts.cdnfonts.com/css/harry-potter");
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
ul a {
  text-decoration: none;
}

html {
  color: white;
  background: linear-gradient(#111111, #313131);
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
html h1 {
  font-family: "Harry Potter", sans-serif;
  font-size: 15vh;
  text-align: center;
  margin: 30px;
}

.error {
  background-color: #e62e1b;
  color: white;
}

.ok {
  background-color: #5dd55d;
}

.hidden {
  display: none;
}

main section#formSection p {
  text-align: center;
  font-size: 25px;
  margin: 10px;
}
main section#formSection div.div-form {
  background-color: #EEBA30;
  margin: 0 650px;
  color: #740001;
  border-radius: 15px;
  padding-bottom: 20px;
}
main section#formSection div.div-form h3 {
  text-align: center;
  font-size: 40px;
  margin: 20px;
}
main section#formSection div.div-form form#formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  align-content: space-around;
}
main section#formSection div.div-form form#formulario label {
  font-weight: 500;
}
main section#formSection div.div-form form#formulario button {
  align-self: center;
  margin-top: 10px;
  padding: 5px;
}
main section#formSection div.div-form form#formulario button:hover {
  background-color: #740001;
  color: white;
}
main section#triviaSection div h2#questionTitle {
  margin: 30px;
  font-size: 40px;
}
main section#triviaSection div#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main section#triviaSection div#container div#question {
  margin: 20px;
  font-size: 30px;
}
main section#triviaSection div#container div.buttons div#optionA button#buttonOptionA {
  margin: 20px;
  font-size: 20px;
  width: 1000px;
  border: 1px solid transparent;
}
main section#triviaSection div#container div.buttons div#optionA button#buttonOptionA:hover {
  background-color: #781f19;
  color: white;
  border: 1px solid #781f19;
}
main section#triviaSection div#container div.buttons div#optionB button#buttonOptionB {
  margin: 20px;
  font-size: 20px;
  width: 1000px;
  border: 1px solid transparent;
}
main section#triviaSection div#container div.buttons div#optionB button#buttonOptionB:hover {
  background-color: #781f19;
  color: white;
  border: 1px solid #781f19;
}
main section#triviaSection div#container div.buttons div#optionC button#buttonOptionC {
  margin: 20px;
  font-size: 20px;
  width: 1000px;
  border: 1px solid transparent;
}
main section#triviaSection div#container div.buttons div#optionC button#buttonOptionC:hover {
  background-color: #781f19;
  color: white;
  border: 1px solid #781f19;
}
main section#final div.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main section#final div.message div p#score {
  font-size: 60px;
  margin-bottom: 20px;
}
main section#final div.message div p#paragraph {
  font-size: 30px;
  margin-bottom: 20px;
}
main section#tableSection div h3 {
  margin: 50px;
  font-size: 40px;
}
main section#tableSection div.t-container table#table {
  margin: 0 auto;
  border-collapse: collapse;
}
main section#tableSection div.t-container table#table table,
main section#tableSection div.t-container table#table th,
main section#tableSection div.t-container table#table td {
  border: 1px, solid, white;
  padding: 8px;
  text-align: center;
}
main section#tableSection div.button {
  text-align: center;
  margin: 10px;
}
main section#tableSection div.button button {
  padding: 5px;
}
main section#tableSection div.button button:hover {
  background-color: #740001;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 10px;
}
footer div ul.a-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
}
footer div ul.a-container li {
  margin: 10px;
}
footer div ul.a-container li > a {
  color: white;
  font-size: 20px;
}
footer div ul.a-container li > a:hover {
  color: #EEBA30;
}

/*# sourceMappingURL=style.css.map */
