@import url('https://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');


ul {
    list-style: none;

    a {
        text-decoration: none;
    }
}

html {
    // color font
    color: white;

    // background 
    background: linear-gradient(#111111, #505050);

    // fonts
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
    h1 {
        font-family: 'Harry Potter', sans-serif;
        font-size: 15vh;
        text-align: center;
        margin: 30px;
    }
}

// DOM Classes

.error {
    background-color: #e62e1b;
    color: white;
}

.ok {
    background-color: #5dd55d;
}

.hidden {
    display: none;
}

.correctAnswer {
    background-color:#5dd55d;
}

.incorrectAnswer {
    background-color:#e62e1b;
}